  .card {
    position: relative;
    top: -50%;
    left: 30%;
    width: 25%;
		margin: 1rem;
		border: unset;
		z-index: 0;
		transition: transform 0.1s ease-in-out;

		.profile-pic {
			//top: ($card-width/3)/2 - 1rem;
			background-color: $primary;
			padding: .5rem;
			clip-path: circle(50%);
			.card-img-top {
				clip-path: circle(50%);
				//width: $card-width/3;
				object-fit: cover;
			}
		}

    .profile-bg {
      //height: $card-width/3;
    }

		.card-body {
			padding-top: 3.5rem;
			background-color: $white;
      background-color: $light;
      color: $light;
		}

  }
