
@include media-breakpoint-down(md) {
  #sidenav { display: none; }
}

@include media-breakpoint-up(md) {
#sidenav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  @include sans-serif-font;
  font-weight: bold;

  ul {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

		// second-level
    ul {
      left: 10%;
			li:first-child {
				margin-top: 2rem;
			}
    }
  }

	ul {
    li {
		  position: relative;
      margin: 2rem 1rem 0;
    }
    li:first-child {
      margin-top: 0;
    }
	}

  a {
    position: relative;

    display: block;
    z-index: 1;

    margin: 1rem inherit; 
    outline: none;
    text-decoration: none;

    width: 1rem;
    height: 1rem;
    padding: unset;

    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);

    -webkit-transition: -webkit-transform -1.3s ease, background-color 0.3s ease, border-color 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, opacity 0.3s ease;

    &:hover,
    &.active { background-color: $indigo; }

    &.active {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }

  }

	.dot-tooltip-wrapper {
	  transform: translateX(400%);
		opacity: 0;

    -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
    transition: -webkit-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;

		.dot-tooltip {
      box-shadow: 0 0 3px;
			position: absolute;
			//display: inline-block;
			padding: 10px 10px;
			border-radius: 3px;
			width: auto;
			height: auto;
			//background-color: rgba($primary, 0.5);
			background-color: $indigo;
			color: $light;
			//text-indent: 0;
			transform: translateY(calc(-50% + 0.5rem));
			//-webkit-transform: translateX(100%) translateY(calc(-50%));
			//transform: translateX(100%) translateY(calc(-50%));
			//-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
			//transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;

      &:after {
        position: absolute;
        right: 100%;
        top: 50%;
        margin-top: -10px;
        width: 0;
        height: 0;
        border: solid transparent;
        border-width: 10px;
        border-color: transparent;
        border-right-color: $indigo;
        content: '';
        pointer-events: none;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
      }
		}
	}

  li:hover > .dot-tooltip-wrapper,
  li.active > .dot-tooltip-wrapper {
	  transform: translateX(200%);
  }

  li:hover > .dot-tooltip-wrapper {
		z-index: 100;
		opacity: 1;
  }

  li.active > .dot-tooltip-wrapper {
		z-index: 99;
		opacity: 1;
  }

  ul:hover li.active {
    > .dot-tooltip-wrapper { z-index: 98; }
    > .dot-tooltip-wrapper, > a { opacity: 0.5; }
  }


		//-webkit-transform: translateX(calc(200% - 1rem)) translateY(calc(-50% - 1.5rem));
		//transform: translateX(calc(200% - 1rem)) translateY(calc(-50% - 1.5rem));
		//-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
		//transition: transform 0.3s ease, opacity 0.3s ease;

  .border-wrapper {
		top: 1rem;
    div {
      height: calc(100% - 1rem);
    }
  }

  .ml-collapse {
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
    -moz-transition: height 0.3s;
    -webkit-transition: height 0.3s;
    -o-transition: height 0.3s;
  }
}
}
